@charset "UTF-8";
body, html{height:100%}


.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}


.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #2a3e51;
    color: #fff;
    height: 61px;
}

.header__logo{
    line-height: 60px;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    -webkit-animation: comming 1s ease;
    animation: comming 1s ease;
}

.header__menu{
  -webkit-animation: comming 1s ease;
  animation: comming 1s ease;
}

.header__item{
    font-size: 14px;
    line-height: 60px;
    font-weight: 500;
    margin: 0 0 0 25px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header__item:visited{
    color: #fff;
}

.header__item:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #ec8702;
}

.header__item:active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
  
.banner {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    opacity: 0;
    background: url(../img/layers.png) 90% 100%/auto 85% no-repeat, fixed url(../img/fon_115.png) center/cover no-repeat;
    -webkit-box-shadow: 0px -5px 4px 0px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px -20px 9px 0px rgba(34, 60, 80, 0.2) inset;
   
    -webkit-animation: leftShift 2s ease forwards;
            animation: leftShift 2s ease forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
  
.banner__title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: -0.06em;
    color: #2c384a;
}

.banner__text {
  margin: 29px 0 59px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20.9px;
  font-weight: 500;
  color: #79818d;
}



.btn {
  border: 2px solid ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18.9px;
  font-weight: 500;
  color: #6d7682;

  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid #2c384a;
  background: #2c384a;
  color: #ffffff;
}

.btn:active {
  border: 0;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}


.title {
  margin: 100px 0 70px ;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33.4px;
  font-weight: 500;
  color: #384354;
}

.title__text {
  text-align: center;
  font-family: Calibri;
  font-size: 16.7px;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #3f495a;
}

.title::after {
  content: "";
  margin: 31px auto;
  display: block;
  width: 72px;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #d17700;
}



.about-me__text {
  margin: 22px 0 40px;
  font-family: Calibri;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #3f495a;
}




.about-me__btn {
  margin-top:33px;
  background: url(../img/ikonka_102.png) 5% 45% no-repeat;
  padding: 5px 13px 5px 33px;
  background-color: #ffffff;
}


.what-can {
  background: url(../img/kartinka_fona_60.png) center/cover no-repeat;
  background-attachment: fixed;
}

.what-can{
  padding: 0 0 92px;
}

.what-can__title {
  padding-top: 100px;
}

.card{
  background: none;
  border: none;
}

.card-imgg {
  width: 60px;
  height: 40px;
}

.card-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18.6px;
  font-weight: 600;
  letter-spacing: -0.06em;
  color: #cf7600;
}

.card-text{
  font-family: Calibri;
  font-size: 16.7px;
  line-height: 1.2;
  letter-spacing: -0.06em;
  color: #3f495a;
}

.cases__info {
  margin-top: 39px;
}

.cases__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #384354;
}

.cases__text {
  font-family: Calibri;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #3f495a;
}

.cases__img {
  margin-top: 7px;
}


.cases__text--clnt {
  font-size: 16.7px;
  padding-bottom: 14px;
}

.cases__link {
  text-decoration: none;
  font-family: Calibri;
  font-size: 16.7px;
  font-weight: 400;
  color: #3f495a;
}

.cases__btn {
  margin-top: 22px;
  width: 220px;
  height: 50px;
  background-color: #63b5ae;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #ffffff;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cases__btn-lg{
  width: 220px;
  height: 50px;
  font-size: 20px;
}

.cases__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #3f495a;
}

.cases__btn:active {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.price__title {
  margin: 197px 0 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45.9px;
  font-weight: 700;
  letter-spacing: -0.06em;
  color: #1c2534;
}

.price__heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29.2px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #1c2534;
}

.price__form{
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 57px;
  background: url(../img/sloy_7_256.png) no-repeat 98%;
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 45px;
}

.price__coast{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29.2px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #1c2534;
}

.price__form-bottom{
  margin-bottom: 70px;
}

.static{
  background: url(../img/fon_150.png) center/cover no-repeat;
  background-attachment: fixed;
  padding: 103px 0;
}


.card-title-black{
  margin-top: 27px;
  font-family: Impact;
font-size: 37.5px;
line-height: 20px;
font-weight: 400;
color: #293b4f;
}

.card-text-black{
  margin-top: 25px;
  font-family: 'Franklin Gothic';
font-size: 16.7px;
font-weight: 500;
letter-spacing: -0.06em;
color: #445466;
}

.static__title--top{
  margin: 0 0 100px;
}




.recall__text {
  text-align: center;
  margin: 33px 0;
  font-family: Calibri;
  font-size: 16.7px;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #243042;
}

.recall__position {
  text-align: center;
  font-family: Calibri;
  font-size: 16.7px;
  line-height: 1.2;
  letter-spacing: -0.06em;
  color: #243042;
}

.recall__radio {
  
  margin-left: 5px;

}

.contact {
  background: url(../img/fon_180.png) center/cover no-repeat;
  background-attachment: fixed;
}

.contact__title--black {
  padding: 100px 0 0;
  color: white;
}

.title__text--white {
  color: white;
  letter-spacing: 0;
  color: #ffffff;
}

.contact__data {
  margin: 70px 0 0;
}

.contact__item {
  margin: 0 50px 0 35px;
}



.contact__img {
  margin: 0 69px 11px;
}
.contact__text {
  text-align: center;
  font-family: Calibri;
  font-size: 16.7px;
  font-weight: 400;
  color: #ffffff;
}

.contact__title {
  text-align: center;
  font-size: 20.9px;
  font-weight: 500;
  color: #ffffff;
}

.contact__form {
  margin-top: 37px;
}

.contact__name {
  height: 34px;
  opacity: .8;
  padding: 10px;
}

.contact__mail {
  height: 34px;
  opacity: .8;
  padding: 10px;
}

@media(max-width: 974px){
  .offset-1 {
    margin-left: 0.333333%;
}
}

.contact__message {
  margin: 14px 0 28px;
  height: 94px;
  opacity: .8;
  padding: 10px;
}

.btn--black {
  margin: 0 300px;
  padding: 10px 16px;
  border: 2px solid #f9faff;
  color: white;
  background: rgba(0, 0, 0, 0.1);
}

.btn--black:hover {
  background-color: #ffffff;
  color: black;
}

.contact__sotial {
  padding: 77px 0 66px;
}

.sotial__item {
  cursor: pointer;
  margin: 0 30.3px 6px;
  -webkit-transform: scale(1);
  transform: scale(1);
-webkit-transition: all 0.2 ease;
transition: all 0.2 ease;
}

.sotial__item:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.sotial__item:active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.map {
  background: url(../img/karta_kopiya_142.png) center no-repeat;
  height: 340px;
}

.footer {
  background-color: #354051;
}

.footer__text {
  padding: 30px 0;
  font-family: Arial;
  font-size: 13.3px;
  font-weight: 400;
  color: #ffffff;
}

@media(max-width:991px){
  .banner__title, .banner__text, .btn-l{
    color: white;
    position: relative;
    z-index: 3;
  }

  .btn-l:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
  }

  .banner{
    position: relative;
    
  }

  .banner::after{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
  }

}

/* animation */
@-webkit-keyframes comming {
  from {
    margin-top: -80px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes comming {
  from {
    margin-top: -80px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes leftShift {
  from {
    margin-right: -700px;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes leftShift {
  from {
    margin-right: -700px;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}